<form action="<%= PagamentoDigital.gateway_url %>" class="pagamento_digital" name="pagamentodigital" method="post" id='pagamentodigital'>
	<div>
		<% pedido.each do |nome, valor| %>
			<%= hidden_field_tag nome.to_s, valor %>
		<% end %>
	</div>
</form>
<script>
 document.getElementById("pagamentodigital").submit()
 </script>